# CONFIG_PACKAGE_kmod-usb3 is not set
# CONFIG_PACKAGE_kmod-usb-core is not set
# CONFIG_PACKAGE_kmod-usb-common is not set
# CONFIG_PACKAGE_kmod-usb-dwc3 is not set
# CONFIG_PACKAGE_kmod-usb-dwc3-qcom is not set
# CONFIG_PACKAGE_kmod-usb-xhci-hcd is not set
# CONFIG_PACKAGE_kmod-usb-serial is not set
# CONFIG_PACKAGE_kmod-usb-serial-wwan is not set
# CONFIG_PACKAGE_kmod-usb-serial-qualcomm is not set
# CONFIG_PACKAGE_kmod-qcom-qmi-helpers is not set
# CONFIG_PACKAGE_kmod-qrtr is not set
# CONFIG_PACKAGE_kmod-qrtr-mhi is not set
# CONFIG_PACKAGE_kmod-qrtr-smd is not set
# CONFIG_PACKAGE_kmod-mhi-bus is not set
# CONFIG_PACKAGE_kmod-usb-roles is not set
