# 禁用 USB 相关内核模块包（用 CONFIG_PACKAGE_ 决定 ipk 是否生成）
CONFIG_PACKAGE_kmod-usb3=n
CONFIG_PACKAGE_kmod-usb-core=n
CONFIG_PACKAGE_kmod-usb-common=n
CONFIG_PACKAGE_kmod-usb-dwc3=n
CONFIG_PACKAGE_kmod-usb-dwc3-qcom=n
CONFIG_PACKAGE_kmod-usb-xhci-hcd=n
CONFIG_PACKAGE_kmod-usb-roles=n
CONFIG_PACKAGE_kmod-usb-serial=n
CONFIG_PACKAGE_kmod-usb-serial-wwan=n
CONFIG_PACKAGE_kmod-usb-serial-qualcomm=n
CONFIG_PACKAGE_kmod-usb-storage=n
CONFIG_PACKAGE_kmod-usb-storage-uas=n
CONFIG_PACKAGE_usbutils=n
CONFIG_PACKAGE_usb-modeswitch=n

# 禁掉走 USB 的高通 4G/QRTR/MHI 协议栈
CONFIG_PACKAGE_kmod-qcom-qmi-helpers=n
CONFIG_PACKAGE_kmod-qrtr=n
CONFIG_PACKAGE_kmod-qrtr-mhi=n
CONFIG_PACKAGE_kmod-qrtr-smd=n
CONFIG_PACKAGE_kmod-mhi-bus=n

# 这些内核符号一并关掉，防止被反向拉回依赖
# CONFIG_USB_SUPPORT 这个总闸【绝对不要写】，它会带走 Wi-Fi
CONFIG_USB_XHCI_HCD=n
CONFIG_USB_DWC3=n
CONFIG_USB_DWC3_QCOM=n
CONFIG_USB_SERIAL=n
CONFIG_USB_NET_RNDIS_HOST=n
CONFIG_USB_NET_QMI_WWAN=n
CONFIG_USB_STORAGE=n
